<div id="content">

  <h2>Dashboard</h2>

  <div id="dashboard-index">

    <div id="dashboard-menu">
      <ul>
        <li><a href="/dashboard/cost" class="projects">Project Cost</a></li>
        <li><a href="/dashboard/health" class="projects">Project Health</a></li>
        <li><a href="/dashboard/utilisation" class="projects">Project Utilisation</a></li>
        <li><a href="/dashboard/workload" class="projects">Developer Workload</a></li>
        <li><a href="/dashboard/completion" class="projects">Task Completion</a></li>
      </ul>
    </div>

  </div>
